.timer{

    color:magenta;
    position:fixed;
    top: 250px;
    left:31px;
}
.quizWindow{

    padding: 10%;
    display: flex;
    justify-content: center;
}

#lastScoreLink{

    background-color: red;
    width:30%;
    position: relative;
    left:40px;
    
}
.headerBox{

    padding:5%;
    background-color: grey;
    border-radius: 5px;
    text-align:center;
   
}

#titleOpage{
    
    font-weight:bolder;
    font-size: 190%;
    right:20px;
}
.quizWindow{

    background-color:aqua;
    display: flex;
    flex-direction: column;
    
}

#question{

    position: relative;
    left:20%;
    text-indent:20px;
    width:70%;
    
}
#answerBox{

    position:relative;
    right:-30%;
    margin-top:5%;
    
}

.btn{

    width:50%;
    margin:5px;
    background-color: orange;

}
#startBox{

    width:20%;
    display:flex;
    position:relative;
    bottom:10px;
    left:60%;
    justify-content: center;
}
#startGame{

    background-color: blueviolet;
    color: aqua;
    font-weight: 600;
    font-size: 30px;
    
}
#lastScoreList{

    display: flex;
    position: relative;
    bottom:40px;
    left:60px;
    background-color: grey;
    width:27%;
   justify-content: center;
  
}
.hide{
    display: none;
}
#hide{

    display: none;
}
#show{

    display: visible;
}